# Ignore Visual Studio temporary files, build results, and
# user-specific files

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## VS files
.vs/
.vscode/

## NuGet packages
*.nupkg
packages/
*.snupkg

## Others
_ReSharper*/
*.cache
*.log

# Environment
.env
appsettings.Development.json
appsettings.json
secrets.json

# Publish files
publish/

# Rider
.idea/

# Mac / Linux
.DS_Store
Thumbs.db
